<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tinderito</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">


</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:onclick="window.location.href='/home'">Tinderito</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:onclick="window.location.href='/home'">Home</a>
            <a class="nav-item nav-link" th:onclick="window.location.href='/info'">Info</a>
            <a class="nav-item nav-link" th:onclick="window.location.href='/login'">Logout</a>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="row center" style="margin:15px">
				<div class="col-lg-6" th:switch="${#strings.contains(promotion_pic,'DEFAULT')}"> 
					<p th:case="${true}">
						<img th:src="@{'/images/'+${promotion_pic}}" style="width:60%;">
					</p>
					<p th:case="${false}">
						<img th:src="${promotion_pic} ? @{'data:image/jpeg;base64,'+${promotion_pic}} : @{/images/no-profile-pic-icon-24.png}"style="width:60%;">
					</p> 
				  </div>
				  
				<br>
				
			</div>
			
			<div class="row">
				<form th:action="@{/uploadFile(back_to='PROMO+'+${promotion.id})}" th:object="${imageForm}"  method="post" enctype="multipart/form-data">
					<input type="file" id="file" th:field="*{file}" name="filename">
					<input type="text" id="userID"  th:value="${userID}" name="userID" style="display:none">
					<input  type="submit">
				</form>
            </div>
            
            <form th:action="@{/edit_promotion(id=${promotion.id})}" th:object="${editPromotionForm}" method="post"
                  class="login100-form validate-form">
                  <div class="gallery" style=" margin:15px" th:each="src : ${images}" >
                    <input type="radio"  th:id="promotion_pic" th:value="${src.key}" th:field="*{promotion_picture}">
                      <label th:for="promotion_pic"><a target="_blank">
                        <img th:src="@{'data:image/jpeg;base64,'+${src.value}}" height="100">
                      </a></label><br>
                      
                </div>
                <table>
                    <tr>
                        <td>
                            <strong>Title:</strong>
                        </td>
                        <td th:text="${promotion.title}"></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="wrap-input100 validate-input" style="margin:20px"
                                 data-validate="Age is required">
                                <input style="resize: none;" class="input100" th:field="*{title}" th:value="${promotion.title}"
                                       type="text">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Promotion Code:</strong>
                        </td>
                        <td th:text="${promotion.promotion_code}"></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="wrap-input100 validate-input" style="margin:20px">
                                <input style="resize: none;" class="input100" th:field="*{promotion_code}"
                                       th:value="${promotion.promotion_code}" type="text">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a><strong>Description</strong><a th:text="${promotion.description}"></a> </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="wrap-input100 validate-input" style="margin:20px"
                                 data-validate="Description is required">
                                <textarea rows="5" cols="50" style="resize: none;" class="input100"
                                          th:field="*{description}" th:text="${promotion.description}">
                                </textarea><br>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    </span>
                            </div>
                        </td>
                    </tr>
                    
                </table>
                <div class="container-login100-form-btn">
                    <input class="btn btn-primary text-right" type="submit" value="Save"/>
                    <button type="button" class="btn btn-danger text-right"
                            th:onclick="|window.location.href='/home'|">Cancel Changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>
</body>
</html>
