<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tinderito</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">


</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Tinderito</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:onclick="window.location.href='/home'">Home</a>
            <a class="nav-item nav-link" th:onclick="window.location.href='/match'">Matches</a>
            <a class="nav-item nav-link active" th:onclick="window.location.href='/profile'">Profile<span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:onclick="window.location.href='/login'">Logout</a>

        </div>
    </div>
</nav>

<br>

<div class="container">
    <div class="row">

        <div class="col-lg-6" th:switch="${#strings.contains(profile_pic,'DEFAULT')}">
            <p th:case="${true}">
                <img th:src="@{'/images/'+${profile_pic}}" style="width:60%;">
            </p>
            <p th:case="${false}">
                <img th:src="${profile_pic} ? @{'data:image/jpeg;base64,'+${profile_pic}} : @{/images/no-profile-pic-icon-24.png}"
                     style="width:60%;">
            </p>
        </div>

        <div class="col-lg-6">
            <table>
                <tr>

                    <h2 th:text="${user.username}"></h2>
                </tr>
                <tr>
                    <td>
                        <strong>Age: </strong>
                    </td>
                    <td th:text="${user.age}">

                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Description: </strong>
                    </td>
                    <td th:text="${user.description}">
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>Bio: </strong>
                    </td>
                    <td th:text="${user.bio}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Interests: </strong>
                    </td>
                    <td th:text="${user.interests}">
                    </td>
                </tr>
            </table>
            <br>
            <button type="button" class="btn btn-primary text-right"
                    th:onclick="|window.location.href='/edit_profile'|">Edit
            </button>
            <button type="button" class="btn btn-danger text-right"
                    th:onclick="|window.location.href='/delete_account'|">Delete Account
            </button>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h2> Matches</h2>
    <hr>
    <div class="card" th:each="client: ${all_clients}"
         style="width:40%; display:inline-block; margin:4%; position:relative">
        <div class="col-lg-6 " th:switch="${#strings.contains(images_map.get(client.email),'DEFAULT')}" style="margin-left: auto;
				margin-right: auto; position:relative;">
            <p th:case="${true}">
                <img th:src="@{'/images/'+${images_map.get(client.email)}}"
                     style="width:40%;display: block;margin-top:15px;margin-left: auto;margin-right: auto;">
            </p>
            <p th:case="${false}">
                <img th:src="${images_map.get(client.email)} ? @{'data:image/jpeg;base64,'+${images_map.get(client.email)}} : @{/images/no-profile-pic-icon-24.png}"
                     style="width:40%;display: block;margin-top:15px;margin-left: auto;margin-right: auto;">
            </p>
        </div>


        <div class="container">
            <h4><b th:text="${client.username}"> </b></h4>
            <p th:text="${client.age}"></p>
            <div class="col-lg-auto text-right">
                <form th:action="@{/chat(message_to=${client.email})}" method="POST">

                    <button type="submit" class="btn btn-primary text-right">Continue Messaging</button>
                </form>


            </div>
        </div>

    </div>
</div>


<br>
</body>

</html> 
